
.checkout-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 1rem 3rem;
  border-bottom: 1px solid #d8d8d8;

  .header-block {
    font-size: 2.5rem;
  }

  .header-block:nth-child(3), .header-block:nth-child(4) {
    justify-self: center;
  }

  .header-block:last-child {
    justify-self: center;
  }
}

.empty-message {
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
}

.total {
  border-top: 1px solid #d8d8d8;
  align-self: flex-end;
  font-size: 2rem;
}