.app {
  background: radial-gradient(ellipse at top, #31537c 0%, #090a0f 100%);
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  padding: 20px;
  min-height: 100vh;

  .title {
    color: #fff;
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Bigelow Rules';
  }

  .monsters__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }
}
