.button {
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 2px solid #000;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #000;
    color: #fff;
  }

  img {
    height: 2rem;
    margin: 0 0.5rem;
  }
}

.button--inverted {
  border: 2px solid #000;
  background-color: #000;
  color: #fff;

  &:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
  }
}

.button--google {
  border: 2px solid #4285f4;
  background-color: #4285f4;
  color: #fff;

  &:hover {
    background-color: #357ae8;
    border-color: #357ae8;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .spinner {
    width: 10px;
    height: 10px;
    border: 3px solid #000;
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

