.total-container {
  gap: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;

  .expenses {
    justify-content: space-between;
  }

  .remaining {
    justify-content: space-between;
  }
}