.category {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 300px;
  overflow: hidden;

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: center / cover;
    z-index: -1;
  }

  &__body {
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
  }

  &:hover {
    cursor: pointer;

    .category__image {
      opacity: 0.8;
      transform: scale(1.1);
      transition: transform 3s ease-in-out;
    }

    .category__body {
      opacity: 0.9;
    }
  }

  &:not(:hover) {
    .category__image {
      opacity: 1;
      transform: scale(1);
      transition: transform 0.5s ease-in-out;
    }
  }
}