
.co-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 1rem 3rem;
  align-items: center;
  
  &__name {
    font-size: 2rem;
  }

  &__img {
    width: 80%;
  }

  &__price {
    justify-self: center;
    font-size: 2rem;
  }

  &__quantity {
    justify-self: center;
    font-size: 2rem;

    .symbol {
      font-size: 2.5rem;
      cursor: pointer;
    }
  }

  &__remove {
    font-size: 2rem;
    cursor: pointer;
    justify-self: center;
  }
}