.note-detail {
  padding: 20px;
  gap: 20px;

  &__content {
    padding: 20px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: 20px;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: #a0a0a0;
  }

  &__description {
    font-size: 1rem;
    font-weight: 400;
  }
}